<a href="https://colab.research.google.com/github/EvgeniyGagen/EVG/blob/main/DomashkaSemin1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задание 1
Оформляйте ноутбук, используя эти советы:
 * Номер задачи - заголовок 2
 * Номер подзадачи - заголовок 3
 * Предоставленные наборы данных оформляйте, как код

## Задание 2
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [ ]:
def sumFruits(**kwargs):
    return f'Общее кол-во фруктов: {sum(kwargs.values())}'

print(sumFruits(ananas=10, kiwi=12, grape=5, pear=15, apricot=12))

Общее кол-во фруктов: 54

In [6]:
def sumFruits(ananas:int, kiwi:int, grape:int, pear:int, apricot:int):
  return ananas + kiwi + grape + pear + apricot
print(sumFruits(10, 12, 5, 15, 12))

54

## Задание 3
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
`[100, 125, -90, 345, 655, -1, 0, 200]`

Необходимо использовать list comprehensions

In [2]:
orig_prices = [100, 125, -90, 345, 655, -1, 0, 200]

In [3]:
def convertPrices(orig_prices):
    orig_pricesNew = []
    for i in orig_prices:
        if i > 0:
            orig_pricesNew.append(i)
    return orig_pricesNew       

print(f'Правильные затраты: {convertPrices(orig_prices)}')
print(f'Суммарные затраты: {sum(convertPrices(orig_prices))}')

Правильные затраты: [100, 125, 345, 655, 200]
Суммарные затраты: 1425

In [4]:
def convertPrices(orig_prices):
    return [i for i in orig_prices if i > 0]

orig_pricesNew = convertPrices(orig_prices)
print(f'Правильные затраты: {orig_pricesNew}')
print(f'Суммарные затраты: {sum(orig_pricesNew)}')

Правильные затраты: [100, 125, 345, 655, 200]
Суммарные затраты: 1425

## Задание 4

Даны два списка:

Дата покупки
`['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']`

Суммы покупок по датам
`[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]`

### 4.1
Найдите, какая выручка у компании в ноябре.
Используйте list comprehensions

In [5]:
date_In = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sum_In = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [6]:
def november_In(dIn, sIn):
    s_InNew = []
    for i in range(len(dIn)-1):
        if '-11-' in dIn[i]:
            s_InNew.append(sIn[i])
    return s_InNew

print(f'Покупоки за ноябрь: {november_In(date_In, sum_In)}')
print(f'Вся Выручка в ноябре: {sum(november_In(date_In, sum_In))}')

Покупоки за ноябрь: [4944, 3701, 7037, 4274, 2004, 2822, 316]
Вся Выручка в ноябре: 25098

In [7]:
def november_In(dIn, sIn):
    return [sIn[i] for i in range(len(dIn)-1) if '-11-' in dIn[i]]

print(f'Покупоки за ноябрь: {november_In(date_In, sum_In)}')
print(f'Вся Выручка в ноябре: {sum(november_In(date_In, sum_In))}')

Покупоки за ноябрь: [4944, 3701, 7037, 4274, 2004, 2822, 316]
Вся Выручка в ноябре: 25098

### 4.2
Найдите выручку компании в зависимости от месяца. Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Необходимо использовать аннотирование типов.

In [8]:
def come_In_Month(dIncome, sIncome) -> dict:
    
    dictcome_In_Month = {}
    
    for i in range(len(dIncome)):
        
        if dIncome[i].split('-')[1] in dictcome_In_Month.keys():
            dictcome_In_Month[dIncome[i].split('-')[1]] += sIncome[i]
        else:
            dictcome_In_Month[dIncome[i].split('-')[1]] = sIncome[i]
            
    return dict(sorted(dictcome_In_Month.items()))

print(come_In_Month(date_In, sum_In))

{'09': 25647, '10': 28645, '11': 25098, '12': 45452}